.app {
  min-height: 100vh;
  background-color: #2c2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crossword {
  display: grid;
  grid-template-columns: repeat(11, 80px);
  grid-template-rows: repeat(8, 80px);
  gap: 30px; /* Increased to 30px for more spacing between cells */
  position: relative;
}

.cell {
  background-color: transparent; /* Removed the fill */
  border: 1px solid #969696; /* Grey stroke */
  color: #969696;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 64px;
  position: relative;
}

.number {
  position: absolute;
  top: 4px;
  left: 4px;
  font-size: 18px;
  font-family: "Arial Rounded MT Bold", "Arial", sans-serif;
  color: #00ff00;
}